@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400&display=swap');

body {
    margin: 0;
    height: 300vh;
    background:#ffffff;
    display: flex;
    justify-content: center;
    font-family: 'Source Sans Pro', sans-serif;
    text-shadow: 1px 1px 5px black;
}

.header,
.header-links-container{
    background: #420264;
}
.header{
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
}

.header-links-container{
    height:150px;
    display: flex;
    margin-left: auto;
    margin-right: 5%;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: auto;
}

.header-links{
    margin-left: 30px;
}

.header-text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.header-text{
    white-space: nowrap;
    display: flex;
    color: #ffffff;
    margin: 0;
}

.decoration-line{
    background: #ffffff;
    width:  734px ;
    height: 3px;
}

.logo{
    display: flex;
}

button{
    background: #420264;
    color: #ffffff;
    border: #ffffff;
    padding: 0;
    display: flex;
    align-items: center;
    background: #420264;
    height: 20px;
    padding: 20px;
    border: #ffffff;
    border-width: 2px;
    border-style: solid;
    border-radius: 5%;
    white-space: nowrap;
    box-shadow: 1px 1px 2px black;
    cursor: pointer;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}